PORT=3000
NODE_ENV=development

# MySQL
MYSQL_HOST=127.0.0.1
MYSQL_PORT=32777
MYSQL_USERNAME=root
MYSQL_PASSWORD=123456
MYSQL_DATABASE=ehs_platform

# JWT
JWT_SECRET=your-secret-change-in-production
JWT_EXPIRES_IN=7d
